.page-container {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.content{
    width: 100%;
    background: #e4ecf1;
}

a.disabled {
    pointer-events: none;
}

footer {
    padding: 2px;
    height: 5%;
    color: white;
    background: #343a40;
    display:flex;
    justify-content: center;
}