<!-- Full page warper -->
<div class="page-container">
    <!-- side nav bar-->
     <app-ui-nav></app-ui-nav>

    <!-- Content, change to router later -->
    <div class="content">
        <nav class="navbar navbar-dark bg-dark justify-content-center">
            <!-- Need a herf="#" for color to work. -->
            <a href="#" class="navbar-brand disabled">OrderMan</a>
        </nav>
        <div  class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<footer>
   劉興禎 2019
</footer>